.landing_page {
    display       : flex;
    flex-direction: column;
}

.header_banner {
    background-color: rgb(50, 50, 255);
}

.brand_title {
    display        : flex;
    justify-content: center;
    width          : 100vw;
    color          : #fff;
    padding        : 2rem;
}

.nav_bar {
    width: 100vw;
}