.landing_page {
    display       : flex;
    flex-direction: column;
}

.header_banner {
    background-color: rgb(50, 50, 255);
}

.brand_title {
    display        : flex;
    justify-content: center;
    width          : 100vw;
    color          : #fff;
    padding        : 2rem;
}

.nav_bar {
    width: 100vw;
}

.nav_bar .nav-link {
    color      : #fff;
    font-weight: bold;
}

.bg-orange {
    background-color: rgb(179, 119, 9);
}

#navbarNav {
    text-align     : center;
    display        : flex;
    justify-content: center;
}

.page_title {
    color     : #fff;
    text-align: center;
    padding   : 3rem;
}